<% content_for :title, "Editing task" %>

<h1>Editing task</h1>

<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Show this task", edit_dashboard_task_path(@task) %> |
  <%= link_to "Back to tasks", dashboard_tasks_path %>
</div>
